{% extends "WorkoutApp/layout.html" %}
{% block body %}

<div class="topnav">
	<a href="{% url 'WorkoutApp:about' %}" style="padding: 10px 40px;">About</a>
	<!--input type="search" style="margin: 10px 40px;" placeholder="Search" /-->
	<form action="{% url 'WorkoutApp:search' %}" method="get">
		<input style="margin: 10px 40px;" type="text" name="search" placeholder="Search by tag or keywords" value="{{request.GET.search}}">
		<input type="submit" value="Search" id="search" >
	</form>
</div>
<div class="row">
	<div class="column middle">
		{% for q in tasks %}

		<div class="post-div">
			<p class="author" style="font-size: x-small;">{{ q.author }}</p>
			<a href="{% url 'WorkoutApp:profile' q.author %}">{{ q.author }}</a>
			<!--embed src="https://www.youtube.com/embed/JfJYHfrOGgQ"
               width="100" 
               height="100" /-->
			<a class="url" href="{{ q.url.url }}">video</a>
			{% for x in avg_rating.all %}
				
				{% if x.url == q.url.url %}
					
					<p style="font-size: x-small;">Average Rating: {{ x.average_rating|floatformat:2 }}/10</p>
				{% endif %}
			{% endfor %}
			<p style="font-size: small;" class="originalposto">{{ q.opinion }}</p>
			<p class="rating" style="font-size: small;">Rating: {{ q.rating }}</p>
			{% for hashtag in q.hashtag.all %}
			<p style="font-size: small;" class="tag_text">{{ hashtag.hashtag }}</p>
			{% endfor %}
			<p style="font-size: x-small;">{{ q.pub_date }}</h6>
			<button id="openform{{ forloop.counter0 }}" class="open-button">tried it</button>
			<div class="comment">
				<p>Comments:</p>
					{% for i in q.comments.all %}
						<p style="color:white; font-size: x-small;" ><strong>{{ i.author }} : </strong> {{ i.opinion }}</p>
					{% endfor %}
			</div>
				

			<div class="form-popup" id="myForm{{ forloop.counter0 }}">
				<form action="{% url 'WorkoutApp:contribute' %}" method="post" class="form-container contactForm">
					{% csrf_token %}
					<h3 style="color: #0B7A75;">Comment:</h3>
					<input type="hidden" value="#" class="url_hidden" name="url_hidden"/>
					<input type="hidden" class="tag_hidden" name="tag_hidden"/>
					<input type="hidden" class="originalposto_hidden" name="oposto_hidden"/>
					{{ formpost.as_p }}
					<button type="submit" class="btn">Post</button>
					<!--button id="clicky{{ forloop.counter0 }}" type="button" class="btn clicky" >Check</button-->
					<button id="closeform{{ forloop.counter0 }}" type="button"
						class="btn cancel closeform">Close</button>
				</form>
			</div>
		</div>
		{% endfor %}
		<br>
		<!--a href="{{request.user}}" class="neonText">GO to Profile</a-->
		{% if request.user.is_authenticated %}
		<a href="{% url 'WorkoutApp:add' %}" class="neonText">Add New Workout</a>
		<a href="{% url 'logout' %}" class="neonText">LOGOUT</a>
		{% else %}
		<a href="{% url 'WorkoutApp:add' %}" class="neonText">Add New Workout</a>
		{% endif %}
		
	</div>
	

	<div class="column side">
		<p>HELOO WORLD</p>

	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function () {

		$(".open-button").click((clicked) => {
			var id = clicked.target.id;
			alert(id);
			var matches = id.match(/\d+$/);
			if (matches) {
				var numString = matches[0];
				alert(numString);
				$("#myForm" + numString).css("display", "block");
			}

			var temp_string = "";
			$("#" + id).parentsUntil(".post-div").siblings(".tag_text").css('color', 'yellow');
			$("#" + id).parentsUntil(".post-div").siblings(".tag_text").each(function () {
				temp_string += $(this).text()+" ";
			});
			//alert(temp_string);
			$(".tag_hidden").val(temp_string);
			$("#" + id).parentsUntil(".post-div").siblings(".url").css('color', 'red');
			var url = $("#" + id).parentsUntil(".post-div").siblings(".url");
			$(".url_hidden").val(url.attr('href'));
			//the below code is for original post opinion input
			//works//$("#" + id).parentsUntil(".post-div").siblings(".originalposto").css('color', 'red');
			var o = $("#" + id).parentsUntil(".post-div").siblings(".originalposto");
			$(".originalposto_hidden").val(o.text());

		});

	});
	$(document).ready(function () {
		$(".closeform").click((clicked) => {
			alert("you are here");
			var idd = clicked.target.id;
			alert(idd);
			var matches = idd.match(/\d+$/);
			if (matches) {
				var numString = matches[0];
				alert(numString);
				var go = "#myForm" + numString;
				alert(go);
				$("#myForm" + numString).css("display", "none");
				//document.getElementById(go).style.display = "none";
			}

		});
		
	});
</script>
{% endblock %}